<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
    <defs>
        <path id="a" d="M91.497 294.03a8.123 8.123 0 0 1 4.47 3.094.625.625 0 1 1-1.014.731A6.864 6.864 0 0 0 89.375 295h-1.25a6.876 6.876 0 0 0-6.847 6.25h9.972a.625.625 0 1 1 0 1.25H80.625a.625.625 0 0 1-.625-.625 8.129 8.129 0 0 1 6.003-7.845 4.367 4.367 0 0 1-1.628-3.405v-1.25a4.375 4.375 0 1 1 8.75 0v1.25a4.367 4.367 0 0 1-1.628 3.405zm6.003 7.22h1.875a.625.625 0 1 1 0 1.25H97.5v1.875a.625.625 0 1 1-1.25 0V302.5h-1.875a.625.625 0 1 1 0-1.25h1.875v-1.875a.625.625 0 1 1 1.25 0v1.875zm-8.75-15a3.125 3.125 0 0 0-3.125 3.125v1.25a3.125 3.125 0 1 0 6.25 0v-1.25c0-1.726-1.4-3.125-3.125-3.125z"/>
    </defs>
    <use fill="#A5A5A5" fill-rule="nonzero" transform="translate(-80 -285)" xlink:href="#a"/>
</svg>
